* {
    box-sizing: border-box;
    margin: 4px;
    font-family: fantasy;
    background-color: antiquewhite
}

.introparagraph {
    font-family: serif;
    padding-left: 40px
}

.list {
    font-family: serif
}

img {
    box-shadow: 10px 10px #7c7c7c;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.homepagepic {
    height: 250px; 
}

.historypagepic {
    height: 400px;
}

.abilitiespagepic {
    height: 300px;
}

body {
    display: flex;
    flex-direction: column;
}

a:hover {
    color: lightgray;
    transition: background-color .5s, color .5s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;    
}   

header {
    display: flex;
    justify-content: flex-end;
}
header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    
}

header nave ul li {
    list-style-type: none;
    flex-direction: column;
}

main {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    justify-content:space-between;
}


main title {
    display: flex;
    align-content: center;
}

title text {
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex: 5;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: left;
}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer,
    form p {
        flex-direction: column;
    }
}
    }
}





